@font-face {
    font-family: Roboto;
    src: url(font/roboto-regular.ttf) format("truetype"),
    url(font/roboto-bolditalic.ttf) format("truetype"),
    url(font/roboto-blackitalic.ttf) format("truetype"),
    url(font/roboto-medium.ttf) format("truetype"),
    url(font/roboto-mediumitalic.ttf) format("truetype")
;
}
@font-face {
    font-family: Parabola;
    src: url(font/parabola.ttf) format("truetype");
}
*{ margin: 0;
    padding: 0;
    font-family: Roboto /*Parabola*/;
}
html, body{height: auto;
    line-height: 1.3;
}

.container {height: auto;
    width: 75%;
    margin: 0 auto;
    display: grid;
    grid-template: "hd hd hd hd"
                   "ls cnt cnt cnt"
                   "ftr ftr ftr ftr";
    grid-template-columns: 0.8fr 1fr 1fr 1fr;
    grid-template-rows: 120px 1fr 100px;
}
                                                                                                            /* шапка */
.header{grid-area: hd;
    height: auto;
    width: auto;
    border-radius: 3px;
    background: #fcfcfc;
    position: sticky;
    top: 0;
    margin-bottom: 20px;
    box-shadow: 0 10px 20px rgb(250, 209, 182);
}
.header_name{float: left;
    width: 317px;
    margin: 14px 0 0 46px;
}
.header_name h1{margin: 0;
    font-size: calc(36px + 10 * (100vw / 1430));
    font-weight: 900;
    font-style: italic;
    color: #ff8c00;
    text-shadow: 0 0 4px black, 0 0 4px black,
            0 0 4px black, 0 0 4px black;
}
.header_name a:hover{text-decoration: none;}
.txt_1{margin: 18px 0 0 360px;
    width: auto;
}
.h_txt{font: 26px Parabola;
    color: black;
    text-shadow: 0 0 .5px darkorange;
}
                                                                                                      /* меню */
.drop_menu{/*margin: 17px 0 0 643px;*/
    /*position: absolute;*/
    float: right;
    margin-top: 14px;
    background: #fcfcfc;
}
.d_menu{position: relative;
    font-size: 14px;
}
.dd_menu{display: inline-block;
    padding: 8px 10px;
    margin: 0 8px;
}
.dd_menu a{text-shadow: 1px 1px 1px lightgray;
}
.sub_dd_menu{display: none;
    background: #fcfcfc;
    border: 1px solid #d7d7d7;
    border-radius: 3px;
    margin-left: -19px;
    margin-top: 9px;
    box-shadow: 0 10px 20px rgb(250, 209, 182);
}
.sub_dd_menu li{padding: 8px 0;
}
.sub_dd_menu li a{padding: 4px 10px;
}
.drop_menu ul li ul{position: absolute;
}
.drop_menu ul li:hover ul{display: block;
}
.yarm, .go{margin-left: 5px}

                                                                                      /* левая секция */
section{grid-area: ls;
    position: fixed;
}
.left_section{margin: 122px 48px;
}
.af_foto{width: 200px;
    height: 200px;
    border-radius: 2px;
}
                                                                                       /* ротация картинок */
.slider-container{background: #ffff;
    border: 2px solid #eaeaea;
    width: 200px;
    height: 200px;
    box-shadow: 0 10px 20px rgb(250, 209, 182);
    margin: 40px auto 0;
    border-radius: 2px;
}
.slider-content{width: 100%;
    height: 200px;
}
.slider{background: #ffff;
    height: 200px;
    width: 200px;
    overflow: visible;
    position: relative;
}
.mask{overflow: hidden;
    height: 200px;
}
.slider ul{margin: 0;
    padding: 0;
    position: relative;
}
.slider li{width: 200px;
    height: 200px;
    position: absolute;
    top: -200px;
    list-style: none;
}
.slider li.firstanimation{animation: cycle 15s linear infinite;}
.slider li.secondanimation{animation: cycletwo 15s linear infinite;}
.slider li.thirdanimation{animation: cyclethree 15s linear infinite;}

@keyframes cycle {
    0% {top:0;}                                        /* фото стационарно */
    7% {top: 0;}                                     /* старт */
    28% {top: 0; opacity: 1; z-index: 0;}            /* 3 сек - фото видно */
    35% {top: 160px; opacity: 0; z-index: 0;}         /* 1 сек - выход фото из видимости */
    36% {top: -160px; opacity: 0; z-index: -1;}       /* 1% уход фото за маску */
    86% {top: 160px; opacity: 0; z-index: 0;}         /* проход за маской */
    93% {top: -160px; opacity:0;}                     /* 1с - вход в видимость */
    100% {top: 0; opacity: 1;}                        /* нчало нового цикла */
}
@keyframes cycletwo {
    0% {top: -160px; opacity: 0;}                      /* исодная позиция за маской */
    28% {top: -160px; opacity: 0;}                     /* начало движения */
    35% {top: 0; opacity: 1;}                         /* фото стационарно */
    42% {top: 0; opacity: 1;}                        /* 1 сек - вход */
    63% {top: 0; opacity: 1; z-index: 0;}            /* 3сек - фото видно */
    70% {top: 160px; opacity: 0; z-index: 0}         /* 1сек - выход */
    71% {top: -160px; opacity: 0; z-index: -1;}      /* 1% возврат за маску */
    100% {top: -160px; opacity: 0; z-index: -1;}    /* проход за маской */
}
@keyframes cyclethree {
    0% {top: -160px; opacity: 0;}                    /* исходная за маской */
    63% {top: -160px; opacity: 0;}                    /* начало движения */
    70% {top: 0; opacity: 1;}                       /* 1 сек - вход */
    91% {top: 0; opacity: 1;}                        /* 3сек фото видно */
    100% {top: 160px; opacity: 0; z-index: 0;}
}
.progress-bar{position: relative;
    top: -5px;
    width: 200px;
    height: 5px;
    background: #f6ad7b;
    animation: fullexpand 15s ease-out infinite;
}
@keyframes fullexpand {
    0%, 35%, 100% {width: 100%; opacity: 0;}  /* анимация стационарна*/
    7%, 42%, 70% {width: 100%; opacity: 0.3;}         /* анимация оживает */
    28%, 63%, 91% {width: 100%; opacity: 0.7;}       /* плавное заполнение */
    29%, 64%, 92% {width: 100%; opacity: 0.3;}       /*индикатор завершает путь */
    30%, 65%, 93% {width: 100%; opacity: 0;}         /* индикатор исчезает и начинает новый цикл */
}
.slider:hover li, .slider:hover .progress-bar{animation-play-state: paused;}
.ads{background: #ffff;
    border: 2px solid #eaeaea;
    width: 200px;
    height: 200px;
    box-shadow: 0 10px 20px rgb(250, 209, 182);
    margin: 40px auto 0;
    border-radius: 2px;
}
.mobile-slider-container{display: none;}
                                                                                                          /* контент */
.content{grid-area: cnt;
    float: right;
    border-radius: 3px;
    margin-top: 28px;
    margin-left: 20px;
    margin-bottom: 18px;
    min-height: 675px;  /* значение установлено, что бы не ползло верхнее меню при мин-контенте на странице */
}
.mob{display: none;}
.section{display: none;}
.content_box{margin-left: 16px;
}
.thematic_text{margin: 0 0 14px 0;
}
.link_in_txt{color: darkorange;

}
.cnt_foto{}
figure{text-align: center;
}
figure img{margin: 8px 8px 0 8px;
}
span{color: blue}

.box{width: 18%;
    height: auto;
    display: inline-block;
    /*position: relative;*/
    overflow: hidden;
    border-radius: 4px;
    padding: 9px 9px 0 9px;
    margin-top: 8px;
}
.img_txt{margin: 3px 0 10px 0;
    font-size: 12px;
    height: 36px
}
.img_num{margin: 3px 0 10px 0;
    font-size: 11px;
    /*height: 36px*/
}
.txt_num{font-size: 12px;
    margin: 3px 0 10px 0;
}
                                                                                              /* для img zoom */
.brooch, .ring, .earring, .pendant, .bracelet, .clip, .elastic, .rim, .ethnic, .magnets, .felt,
.decorated, .material, .tools, .process_clip_foto, .process_felt_foto, .process_pen_foto, .process_more,
.event, .doll_foto, .gnom_foto, .process_amber_foto, .process_ethnic_foto, .random, .bag_foto, .pen_foto, .monster_foto{
    width: 100%;
    height: auto;
    border-radius: 3px;
}

                                                                                   /* для img */
.home_foto, .bender_foto, .material_foto, .tools_foto, .your_foto {
    width: 230px;
    height: 230px;
    border-radius: 3px;
}
                                                                                                    /* кнопка наверх */
#scroll_up{display: none;
    position: fixed;
    right: 24px;
    bottom: 120px;
    width: 48px;
    height: 47px;
    z-index: 1000;
    border-radius: 50px;
    background: url("../img/icon-4b.jpg");
    overflow: auto;
    box-shadow:2px 2px 2px 2px rgb(228, 228, 228);
}
.mobile-slider-container{display: none;}
                                                                                                            /* подвал */
.footer_panel{background: #f5f5f5;
    width: 100%;          /*! не соответсвует ширине контейнера*/
    border-radius: 3px;
    border: solid 1px #c5c5c5;
    display: inline-block;
    grid-area: ftr;
    box-shadow: 0 -1px 15px rgb(250, 209, 182);
}
.footer_home, .footer_info{display: inline-block;}
.footer_home{width: 18%;
    margin-top: 40px;
    text-align: center;
    text-shadow: -4px -4px 5px rgba(255, 255, 255, 0.7), -4px 4px 5px rgba(255, 255, 255, 0.7),
    4px 4px 5px rgba(255, 255, 255, 0.7), 4px -4px 5px rgba(255, 255, 255, 0.7);
}
.footer_home a{font-weight: 560;
    font-size: medium;
    color: #ff8c00;
    text-shadow: 0 0 1px black, 0 0 1px black,
    0 0 1px black, 0 0 1px black;
}
footer .footer_home:before{content: ' \00A9';
    margin-right: 4px;
}
.footer_info{width: max-content;
    margin-top: 32px;
    float: right;
}
.footer_info_tlg, .footer_info_mail, .footer_info_vk{
    margin: 0 18px 0 0;
    display: inline-block;
}
.footer_icons {width: 40px;
    height: 40px;
}

                                                                                                       /* общие теги */
h3{margin-bottom: 8px;

}
p{font-size:15px;
    margin: 0 0 4px 0;
}
a{text-decoration: none;
    color: black;
}
a:hover{text-decoration: underline;
}
label:hover{text-decoration:underline;}
ul li{list-style: none;
}
h4{margin-bottom: 6px;
}

/**********************************************************************************************************************/
                                                                                                     /* МЕДИА ЗАПРОСЫ */
                                                               /***************** до 480px *********************/
@media all and (max-width: 480px) {
    .container {grid-template-areas:
                "hd"
                "cnt"
                "ls"
                "ftr";
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        width: 100%;
    }
    .header {height: 80px;
        z-index: 100;
    }
    .header_name {margin: 2px 0 0 16px;
    }
    .header_name h1 {}
    .txt_1{margin: 56px 0 0 18px;
        width: 294px;
    }
    .h_txt{font-size: 14px;
    }
    .foto_icons{height: 28px;
        width: 28px;
    }
    .drop_menu{border-radius: 3px;
        box-shadow: 0 10px 20px rgb(250, 209, 182);
    }
    .dd_menu{margin: 8px 92px;
    }
    .sub_dd_menu{margin: 0 0 0 -32px;
    }
    .sub_dd_menu li{height: 26px;}
    .sub_dd_menu li a{padding: 4px 32px;}
    .menu_brg {display: none;
        margin: 10px 10px 0 10px;
        border: 1px solid #d7d7d7;
        border-radius: 3px;
    }
    #burger {display: inline-block;
        position: relative;
        width: 34px;
        height: 25px;
        float: right;
        margin-top: -27px;
        margin-right: 27px;
    }
    #burger span {position: absolute;
        background-color: black;
        width: 34px;
        height: 4px;
        top: 10px;
        box-shadow: 0 0 3px 3px rgb(255, 255, 255);
    }
    #burger:before, #burger:after {content: "";
        position: absolute;
        background-color: black;
        width: 34px;
        height: 4px;
        top: 20px;
    }
    #burger:before {top: 0;}
    #burger:after {bottom: 0;}

    .mobile-slider-container{display: block;
        background: #f4f4f4;
        width: 100%;
        height: 225px;
        margin: 10px auto 50px;
    }
    .mobile-slider{background: #ffff;
        border: 2px solid #eaeaea;
        /*box-shadow: 0 10px 20px rgb(250, 209, 182);*/
        height: 200px;
        width: 200px;
        margin: 10px auto 26px;
        overflow: visible;
        position: relative;
    }
    .mobile-mask{overflow: hidden;
        height: 200px;
    }
    .mobile-slider ul{margin: 0;
        padding: 0;
        position: relative;
    }
    .mobile-slider li{width: 200px;
        height: 200px;
        position: absolute;
        top: -202px;
        list-style: none;
    }
    .mobile-slider li.firstanimation{animation: cycle 20s linear infinite;}
    .mobile-slider li.secondanimation{animation: cycletwo 20s linear infinite;}
    .mobile-slider li.thirdanimation{animation: cyclethree 20s linear infinite;}
    .mobile-slider li.fourthanimation{animation: cyclefour 20s linear infinite;}

    @keyframes cycle {
        0% {top:0;}                                        /* видимост фото при запуске слайдера */
        5% {top: 0;}                                     /* старт */
        20% {top: 0; opacity: 1; z-index: 0;}            /* 3 сек - фото видно */
        25% {top: 200px; opacity: 0; z-index: 0;}         /* 1 сек - выход фото из видимости */
        26% {top: -200px; opacity: 0; z-index: -1;}       /* уход фото за маску */
        90% {top: 200px; opacity: 0; z-index: 0;}         /* проход за маской */
        95% {top: -200px; opacity:0;}                     /* 1с - вход в видимость */
        100% {top: 0; opacity: 1;}                        /* нчало нового цикла */
    }
    @keyframes cycletwo {
        0% {top: -200px; opacity: 0;}                      /* исодная позиция за маской */
        20% {top: -200px; opacity: 0;}                     /* начало движения */
        25% {top: 0; opacity: 1;}                         /*  */
        40% {top: 0; opacity: 1;}                        /* 1 сек - вход */
        45% {top: 0; opacity: 1; z-index: 0;}            /* 3сек - фото видно */
        50% {top: 200px; opacity: 0; z-index: 0}         /* 1сек - выход */
        51% {top: -200px; opacity: 0; z-index: -1;}      /* возврат за маску */
        100% {top: -200px; opacity: 0; z-index: -1;}    /* проход за маской */
    }
    @keyframes cyclethree {
        0% {top: -200px; opacity: 0;}                      /* исодная за маской */
        45% {top: -200px; opacity: 0;}                     /* начало движения */
        50% {top: 0; opacity: 1;}                          /*  */
        55% {top: 0; opacity: 1;}                         /* 1сек - вход */
        70% {top: 0; opacity: 1;}                        /* 3сек - видимость фото */
        75% {top: 200px; opacity: 0; z-index: 0;}         /* 1сек - выход */
        76% {top: -200px; opacity: 0; z-index: -1;}        /* возврат за маску */
        100% {top: -200px; opacity: 0; z-index: -1;}       /* проход за маской */
    }
    @keyframes cyclefour {
        0% {top: -200px; opacity: 0;}                      /* исходная за маской */
        70% {top: -200px; opacity: 0;}                  /*  */
        75% {top: 0; opacity: 1;}                        /*  */
        80% {top: 0; opacity: 1;}                        /*  */
        95% {top: 0; opacity: 1; z-index:0;}            /* 3сек - видимость */
        100% {top: 200px; opacity: 0; z-index: 0;}       /*  */
    }
    .mobile-progress-bar{position: relative;
        top: -5px;
        width: 200px;
        height: 5px;
        background: #f6ad7b;
        animation: fullexpand 20s ease-out infinite;
    }
    @keyframes fullexpand {
        0%, 25%, 50%, 75%, 100%{ width: 0; opacity: 0;} /* ключевые кадры, где анимация стационарна */
        5%, 20%, 45%, 70% { width: 0; opacity: 0.3;}  /*ключевые кадры, где анимация оживает */
        20%, 45%, 70%, 95% { width: 100%; opacity: 0.7;} /* плавное заполнение*/
        21%, 46%, 71%, 96% { width: 100%; opacity: 0.3;} /* ключевые кадры, где индикатор выполнения завершает путь */
        22%, 47%, 72%, 97% { width: 100%; opacity: 0;} /* ключевые кадры, где индикатор исчезает и вновь начивает цикл */
    }
    section {display: none}
    .content {display: inline-block;
        margin: 4px 10px 0 10px;
    }
    .content_box {margin-left: 0;
        padding: 10px 10px 10px 10px;
    }
    figure {padding: inherit}
    p {padding-bottom: 8px;
        font-size: 15px;
    }
    .home_foto, .your_foto{
        width: 100%;
        height: auto;
        margin: 0 0 15px 0;
    }
    .thematic_text {margin-bottom: 6px;
    }
    .box {width: 43%;
        height: auto;
        padding: 0 8px;
    }
    .brooch, .ring, .earring, .pendant, .bracelet, .clip, .elastic, .rim, .ethnic, .magnets, .felt,
    .decorated, .material, .tools, .process_clip_foto, .process_felt_foto, .process_pen_foto, .process_more,
    .event, .doll_foto, .gnom_foto, .process_amber_foto, .process_ethnic_foto, .random, .bag_foto, .pen_foto, .monster_foto{
        width: 100%;
        height: auto;
        margin-left: 0;
    }
    .box p {margin: 0;
        padding: 0;
        text-align: center;
    }
    .img_txt {font-size: 11px;
    }
    #scroll_up {background: url("../img/icon_575.jpg");
        width: 30px;
        height: 30px;
        margin-right: -10px;
    }
    .footer_panel{width: auto;
        height: auto;
    }
    .footer_home {margin: 12px 2px 0 6px;
        width: auto;
        font-size: 18px;
    }
    .footer_info {width: auto;
        margin: 6px 0 0 0;
    }
    .footer_info_f, .footer_info_e, .footer_info_i {
        padding: 0;
        font-size: 14px;
    }
}
                                                               /*************** 481px - 767px ****************/
@media all and (min-width: 481px) and (max-width: 920px) {
    .container {grid-template-areas:
                "hd"
                "ls"
                "cnt"
                "ftr";
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        width: 100%;
    }
    .header {height: 100px;
        position: sticky;
    }
    .header_name {margin: 4px 0 0 16px;
    }
    .header_name h1{}
    .txt_1{margin: 66px 0 0 18px;
        width: auto;
    }
    .h_txt{font-size: 18px;
    }
    .foto_icons{height: 28px;
        width: 28px;
    }
    .drop_menu{border-radius: 3px;
        box-shadow: 0 10px 20px rgb(250, 209, 182);
    }
    .d_menu{font-size: 15px;}
    .dd_menu{margin: 8px 16px;
    }
    .sub_dd_menu{/*margin: 0 0 0 -226px;*/
    }
    .sub_dd_menu li{height: 28px;
    }
    .sub_dd_menu li a{/*padding: 4px 32px;*/
    }
    .menu_brg {display: none;
        width: 192px;
        margin-right: 4px;
        border: 1px solid #d7d7d7;
        border-radius: 3px;
    }
    #burger {display: inline-block;
        position: relative;
        width: 41px;
        height: 25px;
        float: right;
        margin-top: -27px;
        margin-right: 27px;
    }
    #burger span {position: absolute;
        background-color: black;
        width: 40px;
        height: 4px;
        top: 10px;
        box-shadow: 0 0 3px 3px rgb(255, 255, 255);
    }
    #burger:before, #burger:after {content: "";
        position: absolute;
        background-color: black;
        width: 40px;
        height: 4px;
        top: 20px;
    }
    #burger:before {top: 0;}
    #burger:after {bottom: 0;}
    section {position: static;}
    .content {display: inline-block;
        margin: 4px 10px 0 10px;
    }
    .content_box {margin-left: 0;
        padding: 10px 10px 10px 10px;
    }
    p {padding-bottom: 8px;
        font-size: 15px;
    }
    figure {}
    .home_foto, .your_foto{
        width: 21%;
        height: auto;
        margin: 0 6px 15px 6px;
    }
    .thematic_text {margin-bottom: 6px;
    }
    .box {width: 21%;
        height: auto;
        padding: 0 6px;
    }
    .brooch, .ring, .earring, .pendant, .bracelet, .clip, .elastic, .rim, .ethnic, .magnets, .felt,
    .decorated, .material, .tools, .process_clip_foto, .process_felt_foto, .process_pen_foto, .process_more,
    .event, .doll_foto, .gnom_foto, .process_amber_foto, .process_ethnic_foto, .random, .bag_foto, .pen_foto, .monster_foto{
        width: 100%;
        height: auto;
        margin-left: 0;
    }
    .box p {margin: 0;
        padding: 0;
        text-align: center;
    }
    .img_txt {font-size: 11px;
    }
    #scroll_up {background: url("../img/icon_575.jpg");
        width: 30px;
        height: 30px;
        margin-right: -10px;
    }
    .footer_panel{width: auto;
        height: auto;
    }
    .footer_home {margin: 12px 2px 0 6px;
        width: auto;
        font-size: 18px;
    }
    .footer_info {width: auto;
        margin: 6px 0 0 0;
    }
    .footer_info_f, .footer_info_e, .footer_info_i {
        padding: 0;
        font-size: 14px;
    }
}