*{margin: 0;
    padding: 0;
    font-family: Arial;}
html, body, .container{height: 100%;}

.container{height: 100%;
    width: 75%;
    margin: 0 auto;
}

header{height: 180px;
    margin: 0 0 10px 0;
    border-radius: 3px;
    border: solid 1px #c5c5c5;
}
.header_name{height: 80px;
}
header h1{padding: 8px 0 8px 28px;
    color: black;
}
                                                               /* верхнее меню */
.header_menu{height: 100px;
}
.top_menu{height: 30px;
    float: right;
    margin-top: 55px;
}
.t_menu{background: #ffe2d4;
    display: inline-block;
    width: 150px;
    height: 100%;
    padding: 6px 0 0 18px;
    border-radius: 3px;
    border: solid 1px #c5c5c5;
}
.t_menu a{text-align: center;
}
                                                                /* основная часть */
main{width: 100%;
    height: 100%;
}
                                                                /* боковое меню */
.vertical_menu{width: 15%;
    /*height: 100%;*/
    float: left;
    margin-top: -2px;
}
.vertical_menu_o{width: 100%;
}
.v_menu{width: 80%;
    padding-right: 6px!important;
}

.vertical_menu_x{width: 100%;
}
.v_menu_x{background: #ffe2d4;
    margin: 50px 0 0 0;
    border-radius: 3px;
    border: solid 1px #c5c5c5;
}
.v_menu_x div:before{content: "\2714"}
.evra{margin: 14px 0 0 5px;
}

.foto_v_menu{width: 190px;
    height: 190px;
    margin: 6px 7px 18px 7px;
    border-radius: 3px;
    border: solid 1px #c5c5c5;
}
                                                             /* контент */
.content{width: 83%;
    /*height: auto;*/              /* ! problem */
    float: right;
    border-radius: 3px;
    border: solid 1px #c5c5c5;
}

.text{padding: 0 12px 25px 20px;
}
.fotka{display: inline-block;
    width: 250px;
    height: 275px;
    margin: 16px 22px 16px 0;
}
.foto_text{width: 250px;
    height: 250px;
    display: inline;
    border-radius: 3px;
    border: solid 1px #c5c5c5;
}
.sign{font-size: small;
    border: none;
}

.content_decor, .content_hair, .content_interior, .content_magnets, .content_process, .content_other{
    width: 200px;
    height: 200px;
    margin: 8px 12px;
    text-align: center;
    display: inline-block;
}
.foto_preview{width: 200px;
    height: 200px;
    border-radius: 3px;
    border: solid 1px #c5c5c5;
}
.box{width: 280px;
    height: 350px;
    margin: 12px 20px;
    display: inline-block;
    border-radius: 3px;
    border: solid 1px #c5c5c5;
}
.brooch, .ring, .earring, .suspension, .bracelet, .clip, .elastic, .rim, .ethnic,
.magnets, .felt, .decorated, .event, .random{
    background: white;
    width: 280px;
    height: 280px;
}
.gnom_foto, .doll_foto, .hunters_foto, .panel_foto, .bender_foto, .pen_foto, .bag_foto, .monster_foto, .process_amber_foto,
.process_felt_foto, .process_pen_foto, .process_clip_foto, .inspir_foto, .material_foto, .tools_foto, .want_foto{
    width: 350px;
    height: 350px;
    margin: 22px 38px;
    border-radius: 3px;
    border: solid 1px #c5c5c5;
}
                                                                   /* подвал */
.footer_panel{background: #ffad88;
    width: 100%;
    height: 100px;
    display: flex;
    margin-top: 16px;
    border-radius: 3px;
    border: solid 1px #c5c5c5;
}
.footer_home, .footer_info{display: inline-block;}

.footer_home{width: 10%;
    height: 40px;
    margin: 25px 0 0 10px;
    text-align: center;
}
footer .footer_home:before{content: ' \00A9';}
.footer_info{width: 35%;
    height: 100%;
    margin-left: 820px;
}
.footer_info_f, .footer_info_e{background: #e5e5e5;
    width: 40%;
    height: 25px;
    margin: 10px 0 0 22px;
    display: inline-block;
}
.footer_info_i{width: 15%;
    /*height: 45px;*/
    margin: 10px 24px 0 12px;
    float: right;
}
.foto_icons {width: 50px;
    height: 50px;
}
a{text-decoration: none;
    color: black;
}