*{/*margin: 0;*/
    padding: 0;
    font-family: Caladea;}
html, body{
    height: 100%;
    line-height: 1.4;
}

.container {height: auto;
    min-height: 100%;
    width: 75%;
    margin: 0 auto;
    display: grid;
    grid-template: "hd hd hd hd"
                   "vm cnt cnt cnt"
                   "ftr ftr ftr ftr";
    grid-template-columns: /*repeat(4, 1fr)*/ 0.8fr 1fr 1fr 1fr;
    /*grid-template-rows: 0.4fr 1fr 100px;*/
}

                                                                                                            /* шапка */
header{height: 180px;
    border-radius: 3px;
    border: solid 0.5px #c5c5c5;
    background-image: url("../img/шапка.jpg");
    grid-area: hd;
    margin-bottom: 20px;
}
.header_name{width: 360px;
    margin: 110px 0 0 30px;
    /*height: 0;*/
}
.header_name h1{margin: 0;
    padding-left: 10px;
    color: black;
    font-size: calc(24px + 16 * (100vw / 1440));
    font-weight: 900;
    text-shadow: 1px 1px white, 1.5px 1.5px white,
    -1px -1px white, -1.5px -1.5px white, -1px 1px white, 1px -1px white,
    -1px 1px white, 1px -1px white,
    -3px -3px 4px rgba(255, 226, 212, 2), -3px 3px 4px rgba(0,0,0,.5), 3px 3px 4px rgba(255, 226, 212, 2), 3px -3px 4px rgba(255, 226, 212, 2);
}
.header_name a:hover{text-decoration: none;}

                                                                                                           /* бургер */
#burger{line-height: 30px;
    font-size: 15px;
    margin-top: -10px;
    float: right;
    display: none;
}
.burger_btn{display: block;
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 4px;
}
.brg_line, .brg_line::before, .brg_line::after {
    position: absolute;
    top: 50%;
    margin-top: -2px;
    left: 50%;
    margin-left: -11px;
    width: 22px;
    height: 3px;
    background-color: black;
    box-shadow: 0 0 2px 2px rgba(255, 226, 212, 2);
}
.brg_line::before, .brg_line::after{
    content: '';
    display: block;
}
.brg_line::before{
    transform: translateY(-10px);
}
.brg_line::after{
    transform: translateY(10px);
}

                                                                                                      /* боковое меню */
section{margin: 16px 16px 18px 0;
}
#accordion{}

.vertical_menu{
    grid-area: vm;
    float: left;
}
.accord{line-height: 24px;
}
.accord{
    background: #ffe2d4;
    border-radius: 6px;
    border: 1px solid #c5c5c5;
    margin-top: 3px;
}
.vertical_menu label{
    padding: 5px 20px;
    position: relative;
    display: block;
    height: max-content;
    cursor: pointer;
    color: black;
    line-height: 24px;
    /*font-size: 15px;*/
}
.vertical_menu input:checked{
    content: '';
    position: absolute;
    width: 22px;
    height: 22px;
    right: 10px;
    top: 5px;
}
.vertical_menu input {
    display: none;
}
article a{
    display: block;
    margin: 4px 0 4px 0;
    padding-left: 18px;
    font-size: 15px;
}
article a:before{
    /*content: '\1F782';*/
    margin-right: 2px;
}
.vertical_menu article{
    background: white;
    overflow: hidden;
    height: 0;
    position: relative;
}

.vertical_menu input:checked ~ article.ac_small-1,
.vertical_menu input:checked ~ article.ac_small-2,
.vertical_menu input:checked ~ article.ac_small-3,
.vertical_menu input:checked ~ article.ac_small-4,
.vertical_menu input:checked ~ article.ac_small-5,
.vertical_menu input:checked ~ article.ac_small-6,
.vertical_menu input:checked ~ article.ac_small-7,
.vertical_menu input:checked ~ article.ac_small-8{
    height: max-content;
}

                                                                                                          /* контент */
.content{margin-top: 18px;
    float: right;
    border-radius: 3px;
    margin-left: 20px;
    margin-bottom: 18px;
    grid-area: cnt;
    min-height: 664px;
}
.content_box{margin-left: 16px;
}
/*.content_box p{margin: 0;
}*/
.thematic_text{margin: 0 0 14px 0;
}

figure{text-align: center;
    /*display: inline-block;*/
}
figure img{margin-right: 20px;
    text-align: center;
}
span{color: blue}

.box{width: 18%;
    height: auto;
    display: inline-block;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    padding: 9px;
    margin-top: 8px;
}

.imag_txt{
    margin: 3px 0 10px 0;
    font-size: 12px;
    height: 36px;
}

                                                                                       /* класс для img с пояснениями */
.brooch, .ring, .earring, .pendant, .bracelet, .clip, .elastic, .rim, .ethnic,
.magnets, .felt, .decorated, .material, .tools, .process_clip_foto, .process_felt_foto,
.process_pen_foto, .process_more{
    width: 100%;
    height: auto;
    border-radius: 4px;
}

                                                                                   /* класс для img 300x300 с текстом */
.home_foto, .doll_foto, .gnom_foto, .bender_foto, .pen_foto, .bag_foto, .monster_foto,
.material_foto, .tools_foto, .event, .random, .process_amber_foto{
    width: 300px;
    height: 300px;
    border-radius: 3px;
    /*margin: 0 18px;*/
    /*object-fit: cover;*/
}


                                                                                                    /* кнопка наверх */
#scroll_up{
    display: none;
    position: fixed;
    right: 14px;
    bottom: 120px;
    width: 45px;
    height: 45px;
    z-index: 1000;
    border-radius: 50px;
    border: solid #bebebe 1px;
    background: url("../img/icon-4b.jpg");
    overflow: auto;
    box-shadow:2px 2px 2px 2px rgb(228, 228, 228);
}

                                                                                                        /* статьи */
.content_event{
    text-align: center;
}
.event_article{display: inline-block;
    width: 241px;
    height: 241px;
    margin: 0 20px 30px 20px;
    border-radius: 3px;
    position: relative;
}
.event_article a{padding: 0;
    margin: 0;
}
.article_foto{
    width: 240px;
    height: 240px;
    opacity: 0.8;
    border-radius: 3px;
    border: 0.5px solid #c5c5c5;
}
.name_article{
    width: 240px;
    height: 110px;
    position: absolute;
    margin-top: -115px;
    margin-left: 1px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.65), transparent);
}
.name_article h3{
    margin: 0 0 4px 0;
    padding-top: 56px;
}
.name_article h3{
    color: white;
}
.name_article p{
    margin: 6px 0 6px 0;
    color: white;
}
                                                                                                            /* подвал */
.footer_panel{background: #ffad88;
    width: 100%;           /*! не соответсвует ширине контейнера*/
    border-radius: 3px;
    border: solid 1px #c5c5c5;
    display: inline-block;
    grid-area: ftr;
}
.footer_home, .footer_info{display: inline-block;}
.footer_home{width: 18%;
    margin-top: 40px;
    text-align: center;
    text-shadow: -4px -4px 5px rgba(255, 255, 255, 0.7), -4px 4px 5px rgba(255, 255, 255, 0.7),
    4px 4px 5px rgba(255, 255, 255, 0.7), 4px -4px 5px rgba(255, 255, 255, 0.7);
}
.footer_home a{font-weight: 510;
}
footer .footer_home:before{content: ' \00A9';
    margin-right: 4px;
}
.footer_info{width: 50%;
    margin-top: 36px;
    float: right;
    text-align: end;
}
.footer_info_f, .footer_info_e, .footer_info_i{height: 28px;
    margin: 0 22px 0 0;
    text-align: right;
    display: inline-block;
    padding-top: 4px;
    font-size: 15px;
    font-variant-numeric: ordinal;
}
.footer_info_i{float: right;
    margin: -8px 8px 8px 8px;
    padding: 0;
}
.foto_icons {width: 40px;
    height: 40px;
}

                                                                                                       /* общие теги */
h3{margin-top: 2px;
}
p{font-size:17px;
    margin: 0 0 4px 0;
}
a{text-decoration: none;
    color: black;
}
a:hover{text-decoration: underline;
}
label:hover{text-decoration:underline;}
ul li{list-style: none;
}
h4{margin-bottom: 6px;
}
                                                                                     /*********************************/
                                                                                                     /* МЕДИА ЗАПРОСЫ */
                                                                                    /* 320 / 575 */
@media all and (min-width: 320px) and (max-width: 575.98px) {
    .container{grid-template-areas:
                "hd"
                "vm"
                "cnt"
                "ftr";
        grid-template-columns: 1fr;
        /*grid-template-rows: 0.6fr 0.8fr 1fr 0.4fr;*/
       width: 100%;
    }
    header{background-image: url("../img/head01_sm_.jpg");
        height: 100px;
        margin-bottom: 8px;
    }
    .header_name{width: 220px;
        margin: 60px 0 0 10px;

    }
    .header_name h1{width: 220px;
        padding-left: 0;
    }
                                                      /* */
    #burger{display: block;
        position: relative;
        width: 30px;
        height: 20px;
        float: right;
        margin-top: -42px;
        margin-right: 18px;
    }
    figure img{margin-bottom: 16px;
    }
    #burger span{
        position: absolute;
        background-color: black;
        /*left: 0;*/
        width: 100%;
        height: 3px;
        top: 8.4px;
        box-shadow: 0 0 3px 3px rgb(255, 255, 255);
    }
    #burger:before, #burger:after{
        content: "";
        background-color: black;
        position: absolute;
        width: 100%;
        height: 3px;
        /*left: 0;*/
    }
    #burger:before{
        top: 0;
        box-shadow: 0 0 2px 2px rgb(255, 255, 255);
    }
    #burger:after{
        bottom: 0;
        box-shadow: 0 0 2px 2px rgb(255, 255, 255);
    }
                                                       /* */
    section{margin: 0 0 10px 0;}
    .vertical_menu{/*margin-top: 20px;*/
        margin-bottom: 10px;
        width: auto;
    }
    .vertical_menu label{text-align: center;
    }
    .menu_brg{display: none;}
    article a{text-align: center;}

    .content{margin: 0 6px 8px 6px;
        display: inline-block;
    }
    .content_box{margin-left: 0;
    }
    figure{margin: 8px 20px;
    }
    p{padding-bottom: 8px;
        font-size: 15px;
    }
    .home_foto, .bender_foto, .gnom_foto, .doll_foto, .pen_foto, .monster_foto, .bag_foto, .process_clip_foto,
    .process_amber_foto, .process_felt_foto, .process_pen_foto, .tools_foto, .material_foto, .event, .random{
        width: 90%;
        height: auto;
        margin: 0 0 16px 0;
    }
    .thematic_text{margin-bottom: 6px;
    }
    .box{width: 43%;
        height: 210px;
        margin: 8px 0;
        padding: 0 8px;
    }
    .bracelet, .brooch, .earring, .ring, .pendant, .clip, .rim, .elastic, .ethnic, .decorated, .felt{
        width: 100%;
        height: auto;
        margin-left: 0;
    }
    .box p{margin: 0;
        padding: 0;
        text-align: center;
    }
    .imag_txt{font-size: 11px;
    }
    #scroll_up{width: 33px;
        height: 33px;
        background: url("../img/icon-mobile.jpg");
    }
    .footer_home{margin: 48px 0 0 12px;
        padding-top: 0;
        width: auto;
        font-size: 17px;
    }
    .footer_info{padding-top: 0;
        margin: 20px 10px 22px 0;
    }
    .footer_info_f, .footer_info_e, .footer_info_i{margin: 0 10px 0 0;
        padding: 0;
    }
}
                                                                                           /* 576 / 767 */
@media all and (min-width: 576px) and (max-width: 767.98px) {
    .container {grid-template-areas:
                "hd"
                "vm"
                "cnt"
                "ftr";
        grid-template-columns: 1fr;
        /*grid-template-rows: 0.5fr 0.8fr 1fr 0.5fr;*/
        width: 100%;
    }
    header{background-image: url("../img/head01_sm_.jpg");
        height: 100px;
    }
    .header_name{margin: 40px 0 0 30px;
    }
    .header_name h1{width: 300px;
        padding: 14px 0 18px 0;
    }
                                               /* */
    #burger{display: block;
        position: relative;
        width: 30px;
        height: 20px;
        float: right;
        margin-top: -58px;
        margin-right: 18px;
    }
    #burger span{
        position: absolute;
        background-color: black;
        /*left: 0;*/
        width: 100%;
        height: 3px;
        top: 8.4px;
        box-shadow: 0 0 2px 2px rgb(255, 255, 255);
    }
    #burger:before, #burger:after{
        content: "";
        background-color: black;
        position: absolute;
        width: 100%;
        height: 3px;
        /*left: 0;*/
    }
    #burger:before{
        top: 0;
        box-shadow: 0 0 2px 2px rgb(255, 255, 255);
    }
    #burger:after{
        bottom: 0;
        box-shadow: 0 0 2px 2px rgb(255, 255, 255);
    }
                                                        /* */
    section{margin: 0}
    .vertical_menu{/*margin-top: 16px;*/}
    .vertical_menu label{text-align: center;
    }
    .menu_brg{display: none;}
    article a{text-align: center;}
                                                    /* */
    .content{margin-top: 0;
    }
    .content, .content_box, .home_foto{margin-left: 0;
    }
    .content_box{margin-top: 10px;
    }
    p{padding: 8px;
        font-size: 15px;
    }
    .home_foto{width: 170px;
        height: 170px;
    }
    .bender_foto, .gnom_foto, .doll_foto, .pen_foto, .monster_foto, .bag_foto, .process_clip_foto,
    .process_amber_foto, .process_felt_foto, .process_pen_foto, .tools_foto, .material_foto, .event, .random{
        width: 100%;
        height: auto;
        margin: 0 0 16px 0;
    }
    .thematic_text{margin-bottom: 6px;
        padding-top: 0;
    }
    .box{width: 30%;
        height: 210px;
        margin: 6px 0 4px 10px;
        padding: 0;
    }
    .bracelet, .brooch, .earring, .ring, .pendant, .clip, .rim, .elastic, .ethnic, .decorated, .felt{
        width: 100%;
        height: auto;
        margin-left: 1px;
    }
    .box p{padding: 0;
        text-align: center;
    }
    .imag_txt{font-size: 12px;
        /*margin: 0 0 4px 4px;*/
    }
    #scroll_up{width: 33px;
        height: 33px;
        background: url("../img/icon-mobile.jpg");
    }
    .footer_home{margin: 25px 0 0 12px;
        padding: 0;
        width: auto;}
    .footer_info{margin: 22px 0 20px 0;
        padding: 3px 0 0 0;
    }
   .footer_info_f, .footer_info_e, .footer_info_i{margin: 0 10px 0 0;
        padding: 0;
    }
    .footer_info_i{margin: -8px 8px 8px 8px;}
}
                                                                                          /* 768 / 991 */
@media all and (min-width: 768px) and (max-width: 991.98px) {
    .container {grid-template-areas:
                "hd hd"
                "vm cnt"
                "ftr ftr";
        grid-template-columns: 0.4fr 1fr;
        /*grid-template-rows: 0.5fr 2fr 0.5fr;*/
        width: 100%;
    }
    header{
        height: 130px}
    .header_name{
        margin: 75px 0 0 30px;
    }
                                               /* */
    section{margin-top: 14px;
    }
    .vertical_menu{
       /* margin: 9px 12px 0 0;*/
    }
    .menu_brg{
        width: 210px}
    .accord{
        margin-top: 4px;
    }
                                                /* */
    .content{/*margin: 9px 0 0 0;*/
    }
    .content, .content_box, .home_foto{margin-left: 0;
    }
    .content_box{margin: 10px 0 0 26px;
    }
    figure{margin: 10px 0;
    }
    .home_foto, .bender_foto, .gnom_foto, .doll_foto, .pen_foto, .monster_foto, .bag_foto, .process_clip_foto,
    .process_amber_foto, .process_felt_foto, .process_pen_foto, .tools_foto, .material_foto, .event, .random{
        width: 150px;
        height: 150px;
        margin: 0 12px 16px 0;
    }
    .box{width: 28%;
        height: 210px;
        margin: 10px 0 0 16px;
        padding: 0;
    }
    /*.thematic_text{padding: 0 12px;
    }*/
    .bracelet, .brooch, .earring, .ring, .pendant, .clip, .rim, .elastic, .ethnic, .decorated, .felt{
        width: 100%;
        height: auto;
        margin-left: 0;
    }
    .box p{padding: 0;
        text-align: center;
    }
    p{font-size: 16px;}
    .imag_txt{font-size: 12px;
        /*margin: 0 0 4px 4px;*/
    }
    #scroll_up{width: 35px;
        height: 35px;
        background: url("../img/icon-mobile.jpg");
    }
    /*.footer_panel{height: 100px;
    }*/
    .footer_home{margin: 25px 0 0 12px;
        padding: 0;
        width: auto;
    }
    .footer_info{margin: 22px 0 20px 0;
        padding: 3px 0 0 0;
    }
    .footer_info_f, .footer_info_e, .footer_info_i{padding: 0;
    }
    .footer_info_i{margin: -8px 8px 8px 8px;}
}
                                                                                                 /* 992 / 1200 */
@media all and (min-width: 992px) and (max-width: 1200px){
    .container {grid-template-areas:
                "hd hd hd"
                "vm cnt cnt"
                "ftr ftr ftr";
        grid-template-columns: 0.5fr 1fr 1fr;
        /*grid-template-rows: 0.3fr 2fr 0.2fr;*/
        width: 100%;
    }
    header{height: 130px;
    }
    .header_name{margin: 75px 0 0 30px;
    }
    .vertical_menu{margin: 17px 12px 0 0;
    }
    .content{margin: 18px 8px;
    }
    .content_box{margin-left: 0;
    }
    .home_foto{width: 450px;
        height: 450px;
    }
    .content_box{margin: 0 0 0 16px;
    }
    figure{margin: 12px 0;
    }
    .home_foto, .bender_foto, .gnom_foto, .doll_foto, .pen_foto, .monster_foto, .bag_foto, .process_clip_foto,
    .process_amber_foto, .process_felt_foto, .process_pen_foto, .tools_foto, .material_foto, .event, .random{
        width: 220px;
        height: 220px;
        margin: 0 14px 16px 0;
    }
    .box{width: 18%;
        height: 210px;
        margin: 6px 0 6px 10px;
        padding: 0;
    }
    .bracelet, .brooch, .earring, .ring, .pendant, .clip, .rim, .elastic, .ethnic, .decorated, .felt{
        width: 100%;
        height: auto;
        margin-left: 0;
    }
    .box p{padding: 0;
        text-align: center;
    }
    p{font-size: 16px;}
    /*.thematic_text{font-size: 17px;*/
        /*margin: 0 0 18px 8px;*/
    }
    .imag_txt{font-size: 12px;
        /*margin: 0 0 4px 4px;*/
    }
    /*#scroll_up{width: 35px;
        height: 35px;
    }*/
    .footer_panel{
    }
    .footer_home{margin: 25px 0 0 12px;
        padding: 0;
        /*padding: 20px 0 0 10px;*/
        width: auto;
    }
    .footer_info{margin: 22px 0 20px 0;
        padding: 3px 0 0 0;
    }
    .footer_info_f, .footer_info_e, .footer_info_i{margin: 0 10px 0 0;
        padding: 0;
    }
    .footer_info_i{
        margin: -8px 8px 8px 8px;
    }

                                                                                                     /* 1200 */
