body{margin: 0 auto;
    width: 70%;
    height: 100vh;
    font-size: 17px;
    font-family: Arial, "Arial Black";
   display: grid;
    grid-template-areas: "hdr hdr hdr hdr"
                         "nav mn mn mn"
                         "ftr ftr ftr ftr";
    grid-template-rows: 140px 1fr 100px;
    grid-template-columns: 20% 80%;
    grid-gap: 12px;
}
header{background: lightgray;
    height: 120px;
    text-align: center;
    font-size: xx-large;
    grid-area: hdr;
}
nav{background: lavender;
    grid-area: nav;
}
.nav_top{background: lemonchiffon;
    width: max-content;
    height: 30px;
    margin: 10px;
    display: inline-block;
    text-align: center;
    padding-top: 10px;
}
main{background: lightblue;
    height: auto;
    grid-area: mn;
    grid-template-columns: repeat(auto-fit,minmax(20%, 1fr));
}
.content{background: white;
    display: inline-block;
    width: 260px;
    height: 260px;
    margin: 10px 0 10px 30px;
    /*overflow: hidden;*/
}
.foto{width: 260px;
    height: 260px;
}
footer{background: lightsteelblue;
    height: 120px;
    grid-area: ftr;
}

@media screen and (min-width: 320px) and (max-width: 520px){
    body{grid-template-areas: "hdr"
                             "nav"
                             "mn"
                             "ftr";
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 1fr 1fr 0.5fr;
    }


}
@media screen and (min-width: 521px) and (max-width: 768px){
    body{grid-template-areas: "hdr hdr"
                             "nav nav"
                             "mn mn"
                             "ftr ftr";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.4fr 1fr 1fr 0.5fr;
    }
}