*, *:before, *:after{
    margin: 0;
    padding: 0;
}
html, body{
    max-width: 100vw;
    height: 100vh;
}
.container{font-family: "Arial", "Arial Black";

}

.container{
    height: 100vh;
    max-width: 75vw;
    margin: 0 auto;
    padding: 16px;
    display: grid;
    grid-template: "hd hd hd"
                   "nav nav nav"
                   "vm cnt cnt"
                   "ftr ftr ftr";
    grid-template-columns: 18% 41% 41%;
    grid-template-rows: 140px 1fr 1fr 110px;
    grid-gap: 12px;
}
.gallery, .website{
    width: 650px;
    height: 480px;
    border-radius: 6px;
    border: solid 1px #c5c5c5;
    background: #ffeee6;
    display: inline-block;
    margin-top: 240px;
    margin-left: 45px;
    text-align: center;
}
                                                        /* ШАПКА */
header{
    height: 140px;
    border-radius: 3px;
    border: solid 1px #c5c5c5;
    background-image: url("../img/head01.jpg");
    grid-area: hd;
}
.header_name{
    width: max-content;
    /*height: 140px;*/
}
.header_name h1{
    padding: 8px 4px 4px 24px;
    color: black;
    /*font-size: 40px;*/
    font-size: calc(24px + 16 * (100vw / 1440));
    font-weight: 900;
    text-shadow: 0.5px 0.5px white, 1px 1px white,
    -0.5px -0.5px white, -1px -1px white, -0.5px 0.5px white, 0.5px -0.5px white,
    -1px 1px white, 1px -1px white,
    -3px -3px 4px rgba(0,0,0,.5), -3px 3px 4px rgba(0,0,0,.5), 3px 3px 4px rgba(0,0,0,.5), 3px -3px 4px rgba(0,0,0,.5);
}
                                                      /* ВЕРХНЕЕ МЕНЮ */
.nav{
    text-align: right;
    height: max-content;
    line-height: 30px;
    grid-area: nav;
}
.top_menu ul{padding: 0;}
.top_menu ul li{display: inline-block;
    list-style: none;
    background: #ffe2d4;
    border: solid 1px #c5c5c5;
    border-radius: 3px;
    height: max-content;
}
.top_menu a{
    clear: right;
    text-decoration: none;
    color: #2f3742;
    padding: 0 6px;
    line-height: 30px;
}
label{
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 30px;
    display: none;
    width: 26px;
    /*float: right;*/
}
#toggle{
    display: none;
}
                                                             /* ОСНОВНАЯ ЧАСТЬ */

                                                             /* БОКОВОЕ МЕНЮ */
.vertical_menu{
    float: left;
    /*margin: 16px 0 0 0;*/
    grid-area: vm;
}
                                                               /* КОНТЕНТ */
.content{
    /*width: 83%;*/
    /*height: auto;*/              /* ! problem */
    float: right;
    border-radius: 3px;
    /*margin-left: 28px;*/
    margin-bottom: 18px;
    grid-area: cnt;

}
.content_box{padding-left: 26px;}
.box{
    width: 270px;
    height: 270px;
    margin: 0 0 20px 20px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    border-radius: 3px;
}
.box:after, .box:before{
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    padding: 20px;
    color: #ffffff;
    transition: transform .4s ease-out;
}
.box:after{
    content: attr(data-title);
    top: 0;
    height: 40%;
    background: rgba(121, 118, 118, 0.4);
    font-size: 20px;
    text-align: center;
    transform: translateY(-100%) scale(.8);
}
.box:before{
    content: attr(data-description)"";
    top: 40%;
    height: 60%;
    background: rgba(41, 41, 43, 0.5);
    font-size: 15px;
    transform: translateY(100%) scale(.8);
}
.box:hover:after, .box:hover:before{transform: translateY(0%) scale(1);}

                                                                          /* класс для img с пояснениями ?? */
.brooch, .ring, .earring, .suspension, .bracelet, .clip, .elastic,
.rim, .ethnic, .magnets, .felt, .decorated, .event, .random{
    width: 280px;
    height: 280px;
}

                                                                     /* класс для img 350x350 без пояснений */
.home_foto, .hunters_foto, .panel_foto, .pen_foto, .bag_foto, .monster_foto, .process_amber_foto,
.process_felt_foto, .process_pen_foto, .process_clip_foto, .inspir_foto, .material_foto, .tools_foto, .want_foto{
    width: 350px;
    height: 350px;
    margin: 0 18px 18px 12px;
    border-radius: 3px;
    border: solid 1px #c5c5c5;
}
                                                                    /* класс для img 310x350 без пояснений */
.doll_foto, .gnom_foto, .bender_foto{
    width: 300px;
    height: 350px;
    margin: 0 18px 18px 12px;
    border-radius: 3px;
    border: solid 1px #c5c5c5;
}
                                                        /* ПОДВАЛ */
.footer_panel{
    background: #ffad88;
    width: 100%;
    /*height: 100px;*/
    border-radius: 3px;
    border: solid 1px #c5c5c5;
    display: inline-block;
    grid-area: ftr;
}
.footer_home, .footer_info{display: inline-block;}

.footer_home{
    width: 18%;
    padding-top: 40px;
    text-align: center;
    text-shadow: 1px 1px white, 2px 2px white,
    -1px -1px white, -2px -2px white, -1px 1px white, 1px -1px white,
    -2px 2px white, 2px -2px white,
    -3px -3px 4px rgba(0,0,0,.7), -3px 3px 4px rgba(0,0,0,.7), 3px 3px 4px rgba(0,0,0,.7), 3px -3px 4px rgba(0,0,0,.7);
}
.footer_home a{font-weight: 510;}

footer .footer_home:before{content: ' \00A9';}

.footer_info{
    width: 82%;
    padding-top: 43px;
    float: right;
    text-align: end;
}
.footer_info_f, .footer_info_e, .footer_info_i{
    height: 28px;
    margin: 0 22px 0 0;
    text-align: right;
    display: inline-block;
    padding-top: 4px;
    font-size: 15px;
    font-variant-numeric: ordinal;
}
.footer_info_i{float: right;}

.foto_icons {
    width: 45px;
    height: 45px;
}

                                                                  /* общие теги */
a{
    text-decoration: none;
    color: black;
}
a:hover{text-decoration: underline;}

                                                         /* МЕДИА ЗАПРОСЫ */
@media all and (min-width: 320px) and (max-width: 767px){
    .container {grid-template: "hd"
                       "nav"
                       "vm"
                       "cnt"
                       "ftr";
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 0.5fr 1fr 1fr 0.5fr;
    }
    .header_name h1{font-size: calc(24px + (16 + 16) * (100vw - 320) / 1440);
    }

}

@media all and (min-width: 767px) and (max-width: 1024px){
    .container {
        grid-template: "hd"
                       "nav"
                       "vm"
                       "cnt"
                       "ftr";
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 0.5fr 1fr 1fr 0.5fr;
        padding: calc(6px + (16 - 6) * ((100vw - 767) / (1440 - 767)));
    }
    .header_name h1{font-size: calc(24px + (16 + 16) * (100vw - 767) / 1440);
    }

}