*{}
.container{display: grid;
    grid-template-columns: 0.4fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 1fr 0.5fr;
    grid-template-areas: "head head head"
                         "vertical_menu blok3 blok3"
                         "vertical_menu blok3 blok3"
                         "blok4 blok4 blok4";
    font-size: 14px;
    font-weight: 550;
    /*text-align: center;*/
}
a{color: black;
    text-decoration-line: none;
}
a:hover{color: blue;}

.head {grid-area: head;
}
.header_name{margin-left: 18px;
    width: 220px;
}
.header_menu ul li{display: inline-block;}
ul{list-style: none;}
.t_menu{background: #ffe2d4;
    width: 120px;
    height: 22px;
    margin: 2px 4px 0 0;
    border-radius: 3px;
    border: solid 1px #c5c5c5;
    float: right;
}

.vertical_menu{grid-area: vertical_menu;}

.foto_v_menu{width: 240px;
    height: 240px;
}
.blok3{grid-area: blok3;}
.blok4{grid-area: blok4;}



@media all and (max-width: 480px) and (max-width: 7680px) and (max-width: 1024px){
    .container{grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 1fr 1fr 0.2fr;
        grid-template-areas: "head"
                              "vertical_menu"
                             "blok3"
                             "blok4";
    }
}